python_version=python2
lock_file="direnv.$python_version.lock"

layout python $python_version

if [ ! -f ".direnv/$lock_file" ]; then
   date +%FT%TZ > ".direnv/$lock_file"

   for req in requirements requirements-test; do
      if [ -f $req.txt ]; then
         echo "direnv: installing project $req"
         pip install -r $req.txt
      fi
   done

   for package in ipython pytest tox; do
      echo "direnv: installing $package"
      pip install --upgrade $package
   done
fi
